doctype html
html
  head
    title GameDB
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Orbitron")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/global.css')
    link(rel='stylesheet', href='/stylesheets/social.css')
    link(rel='stylesheet', href='/stylesheets/responsive/global-1200.css', media='screen and (max-width: 1200px)')
    link(rel='stylesheet', href='/stylesheets/responsive/global-1080.css', media='screen and (max-width: 1080px)')
    link(rel='stylesheet', href='/stylesheets/responsive/global-900.css', media='screen and (max-width: 900px)')
    link(rel='stylesheet', href='/stylesheets/responsive/global-600.css', media='screen and (max-width: 600px)')
    link(rel='stylesheet', href='/stylesheets/responsive/global-landscape.css', media='screen and (max-width: 600px) and (orientation: landscape)')
    
    
    block scripts
    script(src='/javascripts/global.js')
  body
    .wrapper
      .header
        .container
          .logo
            .container
              a(href="/")
                img(src="/images/logo.png" height="49" width="230")
          .nav
            .container
              ul
                li
                  a(href="/about") About
                  span |
                li
                  a(href="/contact") Contact
                  span |
                if !session
                  li
                    a(href="/login") Login
                    span |
                  li 
                    a(href="/register") Register
                else
                  li
                    a(href="/profile/#{session.username}")=session.name.first
                    span |
                  li
                    a(href="/logout") Logout
                    span |
                  li
                    button(class="friends-btn btn dropdown-toggle") Friends
                      span(class="fa fa-angle-double-down")
      if session
        .friends
          .container
            if session.profile.mutualFriends[0]
              h4 Mutual Friends
              each mutual, index in session.profile.mutualFriends
                fieldset
                  form(name="edit-mutual-friends-form-#{index}" method='post')
                    table
                      tr
                        td
                          input(id='mutual-friend' type='text' name='mutual_friend' value=mutual readonly)
                        td
                          input(id='remove_friend' type='submit' class='button' value='Remove Friend')
            if session.profile.sentRequests[0]                
              h4 Sent Requests           
              each sent, index in session.profile.sentRequests
                fieldset
                  form(name="edit-sent-requests-form-#{index}" method='post' action='/profile/' + params + '/cancel_request')
                    table
                      tr
                        td
                          input(id='sent-request' type='text' name='sent_request' value=sent readonly)
                        td
                          input(id='cancel-request' type='submit' class='button' value='Cancel Request')
            if session.profile.receivedRequests[0]
              h4 Received Requests
              each received, index in session.profile.receivedRequests
                fieldset
                  form(name="edit-received-requests-form-#{index}" method='post')
                    table
                      tr
                        td
                          input(id='received-request' type='text' name='received_request' value=received readonly)
                        td
                          input(id='accept-request' type='submit' class='button' value='Accept Request' formaction='/profile/' + params + '/accept_request')
                        td
                          input(id='decline-request' type='submit' class='button' value='Decline Request' formaction='/profile/' + params + '/decline_request')
      block content
      .footer
        .container
          a(class="btn btn-social-icon btn-facebook")
            span(class="fa fa-facebook")
          a(class="btn btn-social-icon btn-twitter")
            span(class="fa fa-twitter")
          p &copy; Michael Tugby. 2015-2016.