extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/profile.css')
  link(rel='stylesheet', href='/stylesheets/responsive/profile-1200.css', media='screen and (max-width: 1200px)')
  link(rel='stylesheet', href='/stylesheets/responsive/profile-1080.css', media='screen and (max-width: 1080px)')
  link(rel='stylesheet', href='/stylesheets/responsive/profile-900.css', media='screen and (max-width: 900px)')
  script(src='/javascripts/profile.js')

block content
  .main
    .container
      if response
        .response
          h3=response
      else
        .games
          .container
            table(id="table-head")
              tr
                th(colspan="4")
                  h3 #{params}'s games:
            each gamesList, consoleIndex in profile.gamesOwned
              table(id="console-head-#{consoleIndex}")
                tr
                  th(colspan="4")
                    h3=gamesList.console
              each game, gameIndex in gamesList.games
                form(name="delete-game-form-#{consoleIndex}-#{gameIndex}" method='post')
                  table
                    tr
                      if session.username === params
                        td
                          span(class="glyphicon glyphicon-pencil edit-toggle-off edit-toggle-#{consoleIndex}-#{gameIndex}")
                        +delete_form(game, consoleIndex, gameIndex)
                      else
                        +delete_form(game, consoleIndex, gameIndex)
                        
                if session.username === params
                  form(name="edit-game-form-#{consoleIndex}-#{gameIndex}" method='post')
                    +edit_form(game, consoleIndex, gameIndex)
                else
                  +edit_form(game, consoleIndex, gameIndex)
              
      if session.username === params
        a(href="/add_game" id='add-game' class="btn btn-primary") Add a Game
      else
        if friendFlag
          fieldset
            form(name="accept-friend-form" method='post' action='/profile/' + params + '/accept_request')
              input(id='accept-friend' type='submit' class='button' value='Accept Friend Request')
          fieldset
            form(name="decline-friend-form" method='post' action='/profile/' + params + '/decline_request')
              input(id='decline-friend' type='submit' class='button' value='Decline Friend Request')
        else if sentReqFlag
          p This user has received your friend request.
          fieldset
            form(name="cancel-request-form" method='post' action='/profile/' + params + '/cancel_request')
              input(id='cancel-request' type='submit' class='button' value='Cancel Friend Request')
        else if mutualFlag
          p You are friends with this user.
          fieldset
            form(name="remove-friend-form" method='post' action='/profile/' + params + '/remove_friend')
              input(id='remove-friend' type='submit' class='button' value='Remove Friend')
        else
          fieldset
            form(name="add-friend-form" method='post' action='/profile/' + params + '/add_friend')
              input(id='add-friend' type='submit' class='button' value='Send Friend Request')
         
        
mixin delete_form(game, consoleIndex, gameIndex)
  td
    input(id='game-in-collection' type='text' name="selected_game" value=game.title readonly)
  td
    input(id='console-in-collection' type='hidden' name='selected_console' value=game.console readonly)
  td
    span(class='button show-extras show-extras-#{consoleIndex}-#{gameIndex}') Show Statistics
    if session.username === params
      input(id='remove-game' type='submit' class='button' value='Remove Game')
  
mixin edit_form(game, consoleIndex, gameIndex)
  table(id="edit-table")
   tr(class="edit edit-#{consoleIndex}-#{gameIndex}")
     td
     td
       p Achievements
     td(colspan="2")
       input(name='achievements_completed' type='number' class="editable-item editable-item-#{consoleIndex}-#{gameIndex}" value=game.achievements.completed disabled)
       span /
       input(name='achievements_total' type='number' class="editable-item editable-item-#{consoleIndex}-#{gameIndex}" value=game.achievements.total disabled)
   tr(class="edit edit-#{consoleIndex}-#{gameIndex}")
     td
     td
       p Currently At
     td(colspan="2")
       textarea(name='current_progress' class="editable-item editable-item-#{consoleIndex}-#{gameIndex}" disabled) #{game.currentProgress}
   tr(class="edit edit-#{consoleIndex}-#{gameIndex}")
     td
     td
       p Things to Do
     td(colspan="2")
       textarea(name='to_do' class="editable-item editable-item-#{consoleIndex}-#{gameIndex}" disabled) #{game.toDo}
   tr(class="edit edit-#{consoleIndex}-#{gameIndex}")
     td
     td
       p Your Rating
     td(colspan="2")
       ul(id='star-list-#{consoleIndex}-#{gameIndex}')
         li(class="glyphicon glyphicon-star-empty star-#{consoleIndex}-#{gameIndex} glyphicon-star-#{consoleIndex}-#{gameIndex}-1")
         li(class="glyphicon glyphicon-star-empty star-#{consoleIndex}-#{gameIndex} glyphicon-star-#{consoleIndex}-#{gameIndex}-2")
         li(class="glyphicon glyphicon-star-empty star-#{consoleIndex}-#{gameIndex} glyphicon-star-#{consoleIndex}-#{gameIndex}-3")
         li(class="glyphicon glyphicon-star-empty star-#{consoleIndex}-#{gameIndex} glyphicon-star-#{consoleIndex}-#{gameIndex}-4")
         li(class="glyphicon glyphicon-star-empty star-#{consoleIndex}-#{gameIndex} glyphicon-star-#{consoleIndex}-#{gameIndex}-5")
         input(name='your_rating' id="star-rating-#{consoleIndex}-#{gameIndex}" class="editable-item editable-item-#{consoleIndex}-#{gameIndex}" type='hidden' value=game.stars disabled)
   tr(class="edit edit-#{consoleIndex}-#{gameIndex}")
     td
     td
       p Your Review
     td(colspan="2")
       textarea(name='your_review' class="editable-item editable-item-#{consoleIndex}-#{gameIndex}" disabled) #{game.review}
   tr(class="edit-submit  edit-submit-#{consoleIndex}-#{gameIndex}")
     td(colspan="4")
       input(type='hidden' class="editable-item editable-item-#{consoleIndex}-#{gameIndex}" name="selected_game_to_edit" value=game.title disabled)
       input(type='hidden' class="editable-item editable-item-#{consoleIndex}-#{gameIndex}" name='selected_console_to_edit' value=game.console disabled)
       if session.username === params
         input(id='make-changes' type='submit' class='button' value='Make Changes')