extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/add_game.css')

block content
  .main
    .container
      .search
        .container
          form(name='search-form', method='post')
              span Search
              input(type='text' name='search-query')
              span Search By
              select(name='search-by')
                option(value='game') Title
                option(value='console') Console
                option(value='genre') Genre
              input(type='submit' value='Submit')
      
      .results
        .container
          if results
            table
              tr
                th Search Results
              each result, index1 in results
                each platform, index2 in result.platforms
                  tr
                    td
                      form(name="add-game-form-#{index1}-#{index2}" method='post')
                        input(id='game' type='text' name="selected-game" value=result.title readonly)
                        input(id='console' type='text' name='selected-console' value=platform.abbreviation readonly)
                        input(id='add' type='submit' value="Add Game")
          p=message