extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/profile.css')
  script(src='/javascripts/profile.js')

block content
  .main
    .container
      if response
        h3=response
      else
        h3 Your games:
        each game, index in gamesList
          fieldset
            form(name="delete-game-form-#{index}" method='post')
              table
                tr
                  td
                    span(class="glyphicon glyphicon-pencil edit-toggle edit-toggle-#{index}")
                      td
                        input(id='game-in-collection' type='text' name="selected-game" value=game.title readonly)
                      td
                        input(id='console-in-collection' type='text' name='selected-console' value=game.console readonly)
                      td
                        span(class='button show-extras show-extras-#{index}') Show Statistics
                        input(id='remove-game' type='submit' class='button' value='Remove Game')
                        
          fieldset
            form(name="edit-game-form-#{index}" method='post')
              table
                tr(class="edit edit-#{index}")
                  td(colspan="2")
                    p Achievements
                  td(colspan="2")
                    input(type='number' class="editable-item editable-item-#{index}" name='achievements-completed' disabled)
                    span /
                    input(type='number' class="editable-item editable-item-#{index}" name='achievements-total' disabled)
                tr(class="edit edit-#{index}")
                  td(colspan="2")
                    p Currently At
                  td(colspan="2")
                    textarea(name='current-progress' class="editable-item editable-item-#{index}" disabled)
                tr(class="edit edit-#{index}")
                  td(colspan="2")
                    p Things to Do
                  td(colspan="2")
                    textarea(name='to-do' class="editable-item editable-item-#{index}" disabled)
                tr(class="edit edit-#{index}")
                  td(colspan="2")
                    p Your Rating
                  td(colspan="2")
                    ul
                      li(class="glyphicon glyphicon-star-empty")
                      li(class="glyphicon glyphicon-star-empty")
                      li(class="glyphicon glyphicon-star-empty")
                      li(class="glyphicon glyphicon-star-empty")
                      li(class="glyphicon glyphicon-star-empty")
                tr(class="edit edit-#{index}")
                  td(colspan="2")
                    p Your Review
                  td(colspan="2")
                    textarea(name='your-review' class="editable-item editable-item-#{index}" disabled)
                tr(class="edit-submit  edit-submit-#{index}")
                  td(colspan="4")
                    input(id='make-changes' type='submit' class='button' value='Make Changes')
              
      a(href="add_game" class="btn btn-primary") Add a Game