extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/profile.css')
  script(src='/javascripts/profile.js')

block content
  .main
    .container
      if response
        h3=response
      else
        .games
          .container
            h3 Your games:
            each game, index in profile.gamesOwned
              fieldset
                form(name="delete-game-form-#{index}" method='post')
                  table
                    tr
                      if session.username === params
                        td
                          span(class="glyphicon glyphicon-pencil edit-toggle-off edit-toggle-#{index}")
                        +delete_form(game, index)
                      else
                        +delete_form(game, index)
                        
              fieldset
                if session.username === params
                  form(name="edit-game-form-#{index}" method='post')
                    +edit_form(game, index)
                else
                  +edit_form(game, index)
              
      if session.username === params
        a(href="/add_game" class="btn btn-primary") Add a Game
      .friends
        .container
          if session.username === params
            h3 Mutual Friends
            each mutual, index in profile.mutualFriends
              fieldset
                form(name="edit-mutual-friends-form-#{index}" method='post')
                  table
                    tr
                      td
                        p=mutual
                      td
                        p Online
            h3 Sent Requests           
            each sent, index in profile.sentRequests
              fieldset
                form(name="edit-sent-requests-form-#{index}" method='post')
                  table
                    tr
                      td
                        p=sent
                      td
                        p Online
            h3 Received Requests
            each received, index in profile.receivedRequests
              fieldset
                form(name="edit-received-requests-form-#{index}" method='post' action='/profile/' + params + '/accept_request')
                  table
                    tr
                      td
                        input(id='received-request' type='text' name='received-request' value=received readonly)
                      td
                        p Online
                    tr
                      td(colspan="2")
                        input(id='accept-request' type='submit' class='button' value='Accept Request')
          else if friendFlag
            fieldset
              form(name="accept-friend-form" method='post' action='/profile/' + params + '/accept_request')
                input(id='accept-friend' type='submit' class='button' value='Accept Friend Request')
          else if sentReqFlag
            p This user has received your friend request.
          else if mutualFlag
            p You are friends with this user.
          else
            fieldset
              form(name="add-friend-form" method='post' action='/profile/' + params + '/add_friend')
                input(id='add-friend' type='submit' class='button' value='Send Friend Request')
         
        
mixin delete_form(game, index)
  td
    input(id='game-in-collection' type='text' name="selected-game" value=game.title readonly)
  td
    input(id='console-in-collection' type='text' name='selected-console' value=game.console readonly)
  td
    span(class='button show-extras show-extras-#{index}') Show Statistics
    if session.username === params
      input(id='remove-game' type='submit' class='button' value='Remove Game')
  
mixin edit_form(game, index)
  table
   tr(class="edit edit-#{index}")
     td(colspan="2")
       p Achievements
     td(colspan="2")
       input(name='achievements-completed' type='number' class="editable-item editable-item-#{index}" value=game.achievements.completed disabled)
       span /
       input(name='achievements-total' type='number' class="editable-item editable-item-#{index}" value=game.achievements.total disabled)
   tr(class="edit edit-#{index}")
     td(colspan="2")
       p Currently At
     td(colspan="2")
       textarea(name='current-progress' class="editable-item editable-item-#{index}" disabled) #{game.currentProgress}
   tr(class="edit edit-#{index}")
     td(colspan="2")
       p Things to Do
     td(colspan="2")
       textarea(name='to-do' class="editable-item editable-item-#{index}" disabled) #{game.toDo}
   tr(class="edit edit-#{index}")
     td(colspan="2")
       p Your Rating
     td(colspan="2")
       ul(id='star-list-#{index}')
         li(class="glyphicon glyphicon-star-empty star-#{index} glyphicon-star-#{index}-1")
         li(class="glyphicon glyphicon-star-empty star-#{index} glyphicon-star-#{index}-2")
         li(class="glyphicon glyphicon-star-empty star-#{index} glyphicon-star-#{index}-3")
         li(class="glyphicon glyphicon-star-empty star-#{index} glyphicon-star-#{index}-4")
         li(class="glyphicon glyphicon-star-empty star-#{index} glyphicon-star-#{index}-5")
         input(name='your-rating' id="star-rating-#{index}" class="editable-item editable-item-#{index}" type='hidden' value=game.stars disabled)
   tr(class="edit edit-#{index}")
     td(colspan="2")
       p Your Review
     td(colspan="2")
       textarea(name='your-review' class="editable-item editable-item-#{index}" disabled) #{game.review}
   tr(class="edit-submit  edit-submit-#{index}")
     td(colspan="4")
       input(type='hidden' class="editable-item editable-item-#{index}" name="selected-game-to-edit" value=game.title disabled)
       input(type='hidden' class="editable-item editable-item-#{index}" name='selected-console-to-edit' value=game.console disabled)
       if session.username === params
         input(id='make-changes' type='submit' class='button' value='Make Changes')